# Data cleaning

It means fixing bad data in your data set.

Bad data could be:

- Empty cells
- Data in wrong format
- Wrong data
- Duplicates

In [1]:
import pandas as pd

In [10]:
df = pd.read_json('data.json')
print(df)

# here data is messy : 
# Empty cells ➔ missing fields or null
# Wrong formats ➔ wrong date types, wrong data types
# Wrong data ➔ like negative Duration or Pulse
# Duplicates ➔ same row repeated

   Duration        Date              Pulse          Maxpulse        Calories
0        60  2020/12/01                110               130           409.1
1        60  2020-12-02                117               145           479.0
2        60  2020/12/03  one hundred three               135           340.0
3            2020/12/04                109               175           282.4
4        45  2020/12/05                117               148           406.0
5        60  12/06/2020                102  one twenty-seven           300.0
6        60  2020/12/07                110               136            None
7       450  2020/12/08                104               134           253.3
8       -30  2020/12/09                109               133           195.1
9        60  12-10-2020                 98               124  two sixty-nine
10       60  2020/12/11                103               147           329.3
11       60  2020/12/12                100               120           250.7
12       60  2020/12/12                100               120           250.7
13       45        None                 90               112           280.0
14       45  2020/12/05                117               148           406.0
15       45  not a date                 97               125           243.0
16       60  2020/12/17               -100               120           300.0
17       60  2020/12/18                100               300           200.0
18     None  2020/12/19                103               123           323.0
19       60                             92               118           241.0
20       60  2020/12/20                103               132            None

# Handle missing values and wrong values

In [13]:
# Check for missing values
print(df.isnull().sum())

Duration    1
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [74]:
# Fix Duration:

# first convert them to numeric values
df["Duration"] = pd.to_numeric(df["Duration"], errors="coerce") # wrong format will become NaN

# Fill missing values with the mean value
df.fillna({"Duration": df["Duration"].mean().__round__()}, inplace=True)  # inplace=True updates directly without needing to assign.

In [75]:
# Fix Date:

# first convert them to datetime values
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")  # wrong format will become NaT

# forward fill the missing dates
df.fillna({"Date": df["Date"].ffill()}, inplace=True)

In [68]:
# fix Pulse

# first convert them to numeric values
df["Pulse"] = pd.to_numeric(df["Pulse"], errors="coerce")

# fill missing values with mean
df.fillna({"Pulse": df["Pulse"].mean()}, inplace=True)

In [67]:
# fix Maxpulse

# first convert them to numeric values
df["Maxpulse"] = pd.to_numeric(df["Maxpulse"], errors="coerce")

# fill missing values with mean
df.fillna({"Maxpulse": df["Maxpulse"].mean()}, inplace=True)

In [66]:
# fix Calories

# first convert them to numeric values
df["Calories"] = pd.to_numeric(df["Calories"], errors="coerce")

# fill missing values with mean
df.fillna({"Calories": df["Calories"].mean().__round__(2)}, inplace=True)

In [72]:
df.isna().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [76]:
df

      Duration       Date   Pulse  Maxpulse  Calories
0    60.000000 2020-12-01  110.00    130.00    409.10
1    60.000000 2020-12-01  117.00    145.00    479.00
2    60.000000 2020-12-03   94.05    135.00    340.00
3    72.631579 2020-12-04  109.00    175.00    282.40
4    45.000000 2020-12-05  117.00    148.00    406.00
5    60.000000 2020-12-05  102.00    141.25    300.00
6    60.000000 2020-12-07  110.00    136.00    304.92
7   450.000000 2020-12-08  104.00    134.00    253.30
8   -30.000000 2020-12-09  109.00    133.00    195.10
9    60.000000 2020-12-09   98.00    124.00    304.92
10   60.000000 2020-12-11  103.00    147.00    329.30
11   60.000000 2020-12-12  100.00    120.00    250.70
12   60.000000 2020-12-12  100.00    120.00    250.70
13   45.000000 2020-12-12   90.00    112.00    280.00
14   45.000000 2020-12-05  117.00    148.00    406.00
15   45.000000 2020-12-05   97.00    125.00    243.00
16   60.000000 2020-12-17 -100.00    120.00    300.00
17   60.000000 2020-12-18  100.00    300.00    200.00
18   72.631579 2020-12-19  103.00    123.00    323.00
19   60.000000 2020-12-19   92.00    118.00    241.00
20   60.000000 2020-12-20  103.00    132.00    304.92

# Remove Duplicates

In [77]:
df.drop_duplicates(inplace=True)

# Replacing Values

In [88]:
# In our duration column, it is most likely a typo, and Duration should be "45" instead of "450",
# and we could just insert "45" in row 7:
# df.loc[7, 'Duration'] = 45

# To replace wrong data for larger data sets we can create some rules;

# If Duration is higher than 120, set it to 120:
df.loc[df["Duration"] > 120, "Duration"] = 120

# # If Duration is lower than 30, set it to 30:
df.loc[df["Duration"] < 30, "Duration"] = 30

df['Duration'].describe()

count     19.000000
mean      60.540166
std       17.461974
min       30.000000
25%       60.000000
50%       60.000000
75%       60.000000
max      120.000000
Name: Duration, dtype: float64

# Drop rows and columns

In [ ]:
# df.drop(index=0, inplace=True)          # Drops the row with index 0
# df.drop(index=[0, 1, 2], inplace=True)  # Drops rows with indices 0, 1, and 2

# df.dropna(inplace=True)                       # Drops rows where any column has NaN
# df.dropna(subset=["Duration"], inplace=True)  # Drops rows where 'Duration' column has NaN

# mask = df["Duration"] > 120

# df.drop(df[mask].index, inplace=True)  # Drops rows where Duration > 120

# After dropping rows, the DataFrame's index may not be continuous. 
# We can reset it using:
# df.reset_index(drop=True, inplace=True)

# To drop a column, use the drop method with axis=1
# df.drop(columns=["ColumnName"], inplace=True)  # Replace "ColumnName" with the name of the column to drop

# Correlation between columns

In [94]:
df.corr()

          Duration      Date     Pulse  Maxpulse  Calories
Duration  1.000000  0.035520  0.009315  0.045321 -0.002101
Date      0.035520  1.000000 -0.344151  0.123891 -0.494464
Pulse     0.009315 -0.344151  1.000000  0.147105  0.096060
Maxpulse  0.045321  0.123891  0.147105  1.000000 -0.226859
Calories -0.002101 -0.494464  0.096060 -0.226859  1.000000

**The number varies from -1 to 1.**

- 1 means that there is a 1 to 1 relationship (a perfect correlation), and if you increase one value, the other will also increase.

- 0.9 is also a good relationship, and if you increase one value, the other will probably increase as well.

- 0 is bad correlation, if you increase one , other will not be affected.

- -0.9 would be just as good relationship as 0.9, but if you increase one value, the other will probably decrease.

- -1 would be just as 1 to 1 relationship (a perfect correlation), but if you increase one value, the other decrease.